@import "tailwindcss";

@theme {
    --color-primary-50: #f2f8fa;
    --color-primary-100: #dce3e4;
    --color-primary-200: #cee9e7;
    --color-primary-300: #a3d6d2;
    --color-primary-400: #72beb7;
    --color-primary-500: #50a79f;
    --color-primary-600: #3d8c87;
    --color-primary-700: #32726f;
    --color-primary-800: #2d5f5c;
    --color-primary-900: #295150;
    --color-primary-950: #1b3636;

    --color-secondary-50: #f9f7f7;
    --color-secondary-100: #f2efee;
    --color-secondary-200: #e4dddc;
    --color-secondary-300: #d6cccb;
    --color-secondary-400: #beadab;
    --color-secondary-500: #a5918e;
    --color-secondary-600: #8d7875;
    --color-secondary-700: #756360;
    --color-secondary-800: #625452;
    --color-secondary-900: #554947;
    --color-secondary-950: #2b2524;
}
body {
    @apply bg-primary-100;
}
